html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  margin: 0;
}

ul{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: space-around;
	list-style-type: none;
}

.productName{
	position: relative;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius: 10px 10px 0 0;
	padding: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	/*box-shadow: -3px -3px 0px #69c9d0, 3px 3px 0px #ee1d52; */
}

.buttons{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-image: url(images/plants.jpg);
	background-attachment: fixed;
}

.productSection{
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 20px;
}

.productSection h1{
  color: #fff;
  transform: translateY(-139%);
  text-transform: uppercase;
  font-size: 24px;
}


.price{
	position: relative;
	align-self: flex-end;
	background-color: #3B9DFF;
	color: #fff;
	border-radius: 10px;
		margin: 5px;
}

.price h2{
	color: #fff;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
	font-size: 13px;
}

.grid{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	justify-self: center;
}

.grid a{
	text-decoration: none;
	color: #000;
}

.product{
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 10px;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.product a{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
}

.product:hover{
	background-color: #fff;
	cursor: pointer;
	transition: background-size .5s ease;
	background-size: 140% 140%;
}

.product #p1{
	background-color: #000;
}

li{
	padding: 5px;
	position: relative;
	justify-content: center;
}

h1 {
	font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: none;
  padding: 0;
  margin: 0;
  /*  font-family: 'Major Mono Display', sans-serif;*/
}

h2 {
  padding-top: 5px;
  color: #000;
  font-size: 24px;
  font-weight: black;
  margin: 5px 0;
  font-family: 'Nunito Sans', sans-serif;
}

h2.project-title {
	font-size: 18px;
	font-family: 'Nunito Sans', sans-serif;
	color: #fff;
}



.header ul {
  position: relative;
  background-color: #111;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 2;
  width: 100%;
}

.header ul li {
	font-family: 'Major Mono Display', sans-serif;
  display: flex;
  list-style-type: none;
  color: #bbb;
  padding-left: 1em;
}

.header ul li span {
  display: flex;
  align-items: center;
  padding: 10px 2em;
}

#content__top {
	height: auto;
	transition: max-height 0.2s ease;
}

a.logo {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 120px;
  height: 120px;
  background-image: url(images/ty.jpeg);
  background-position: bottom;
  border-radius: 100%;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  z-index: 0;
  text-decoration: none;
  padding: 15px;
  background-position: center;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
	margin: 8px 0 5px 0;
	text-transform: uppercase;
	font-size: 12px;
}

p.sub {
	font-weight: bold;
	font-size: 14px;
	padding-left: 40px;
	color: #1a1a1a;
	display: flex;
	align-items: center;
}

p.sub1 {
	background-color: #fff;
	color: #1a1a1a;
	text-transform: lowercase;
	font-size: 14px;
	display: flex;
	align-items: center;
	margin: 10px;
	padding: 10px 30px 10px 30px;
	border: solid 1px #69BE94;
	border-radius: 1000px;
}

p.sub1:hover {
	background-color: #eee;
	color: #1a1a1a;
	text-transform: lowercase;
	font-size: 14px;
	display: flex;
	align-items: center;
	padding: 10px 30px 10px 30px;
	border: solid 1px #69BE94;
	border-radius: 20px;
	margin-top: 80px;
}

p.tagline {
  padding-top: 0px;
  font-size: 20px;
  color: #bbb;
  text-transform: none;
}

p.tagline--small {
  padding-top: 0;
  font-size: 16px;
  color: #555;
  max-width: 530px;
  font-kerning: 5%;
  text-transform: none;
}

p.tagline--white {
  padding-top: 0;
  font-size: 16px;
  color: #fff;
  max-width: 530px;
  font-kerning: 5%;
  text-transform: none;
}

span {
  padding: 0 1em;
  text-align: center;
}

span.home {
  padding: 10px 2em;
  background-color: #3B9DFF;
  border: 3px solid #3B9DFF;
  color: #fff;
  transition: background-color 3s ease;
}

span.home:hover {
  border: solid 3px #60E17E;
  background-color: #60E17E;
}

button {
	font-size: 14px;
	outline: none;
	font-family: 'Nunito Sans', sans-serif;
	height: 60px;
}

button.alt {
  transition: background-color 3s ease;
  background-color: #1e1e1e;
  border: none;
  height: 40px;
  border-radius: 30px;
  padding: 10px 35px;
  color: #fff;
  margin-left: 40px;
  border: solid 3px #1e1e1e;
}

button.alt:hover {
  box-shadow: none;
  background-color: #60E17E;
  cursor: pointer;
  border: solid 3px #60E17E;
}

.black {
  background-color: #3B9DFF;
  font-size: 12px;
  border-radius: 30px;
  border: none;
  color: #fff;
  border: solid 3px #3B9DFF;
  transition: background-color 3s ease;
  box-shadow: 1px 1px 10px #bbb;
  text-decoration: none;
}

.black:hover {
  box-shadow: none;
  background-color: #60E17E;
  cursor: pointer;
  border: solid 3px #60E17E;
}

button:hover {
  cursor: pointer;
}

.about {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 60px 0;
  justify-content: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.clear {
	display: none;
  position: relative;
  padding-top: 30px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 40px 40px;
}

.column2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #fff;
}

.content {
  padding-bottom: 120px;
    background-image: url(images/plants.jpg);
  background-attachment: fixed;
}

#content__top {
	display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin: 0;
  width: 100%;
  background-image: url(images/plants.jpg);
   background-attachment: fixed;
}

.lcurve{
	min-width: 100px;
	min-height: 100px;
		height: 100%;
}

.rcurve{
	min-width: 100px;
	min-height: 100px;
	height: 100%;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.content__top--left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  background-color: #333;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  border-radius: 100px;
  color: #fff;
  box-shadow: -3px -3px 0px #69c9d0, 3px 3px 0px #ee1d52, 2px 4px 4px #000;
  transform: translateY(50%);
/*  padding: 40px 50px 0 50px;*/
}

.content__top--right {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
/*  border-radius: 0 0 60px 0;*/
}

.tiktok{
	transform: scale(0.6);
}

.curve {
  background-color: #000;
  width: 50%;
  border-radius: 60px 0 0 0;
  background-color: #eee;
  float: right;
  margin: 0;
  transform: translate(0, -60px);
  align-content: center;
}

.curve span {
  width: 50%;
  color: #bbb;
}

.clear {
  position: relative;
  padding-top: 30px;
}

.services {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  transform: translate(0, 10px);
}

.services li {
  color: #bbb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 10px #eee;
  border-radius: 60px 60px 0 0;
  padding-bottom: 60px;
}

.services li:hover .image {
  color: #3B9DFF;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 5s ease;
}

.services li:hover .label {
  color: #3B9DFF;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 5s ease;
}

.services li.active .label, .services li.active .image {
  color: #1a1a1a;
  transition: color 0.3s ease, text-shadow 5s ease;
}

.image {
  font-family: SS Gizmo;
  font-size: 50px;
  border-radius: 15px;
  transition: color 0.3s ease, text-shadow 5s ease;
  fill: #fff;
}

li span.label {
  transition: color 0.3s ease, text-shadow 5s ease;
}


/*grid*/

.grid__ul {
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	justify-content: flex-start;
	transition: transform 1.2s ease;
	transform: translate(0,0);
}

.arrow {
	display: none;
	opacity: 0;
	fill: #000;
}

.arrow.active {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 1px 1px 10px #bbb;
	height: 60px;
	width: 60px;
	opacity: 0;
	right: 100px;
	top: 43%;
	z-index: 4;
	transition: opacity 0.4s ease;
	fill: #000;
}

.arrow:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px #aaa;
	color: #3B9DFF;
}

.arrow:hover .image {
	fill: #3B9DFF;
}

.arrow .image {
	font-size: 24px;
	fill: #000;
}

.arrow2 {
	display: none;
	opacity: 0;
}

.arrow2 .image {
	fill: #000;
}

.arrow2.active:hover .image {
	fill: #3B9DFF;
}

.arrow2.active{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 1px 1px 10px #bbb;
	height: 60px;
	width: 60px;
	opacity: 0;
	left: 100px;
	top: 43%;
	z-index: 4;
	transition: opacity 0.4s ease;
}

.arrow2.active .image {
	fill: #000;
}

.arrow2:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px #aaa;
	color: #3B9DFF;
}

.arrow2 .image {
	font-size: 24px;
}

.grid:hover .arrow {
	opacity: 100;
	transition: opacity 0.4s ease;
}

.grid:hover .arrow2 {
	opacity: 100;
	transition: opacity 0.4s ease;
}

.grid__li {
	background-color: #fff;
	max-width: 316px;
	width: 316px;
	height: 320px;
	margin: 16px 3px;
	border-radius: 4px;
	transition: box-shadow 0.2s;
	flex-grow: 1;
	flex-shrink: 0;
	box-shadow: 1px 1px 10px #bbb;
}

.download-button {
	position: absolute;
	align-items: flex-end;
	display: none;
	color: #000;
	font-family: SS Gizmo;
	text-decoration: none;
	bottom: 5px;
	right: 16px;
	font-size: 24px;
}

.showall {
	position: absolute;
	color: #3B9DFF;
	text-decoration: none;
	font-size: 14px;
	right: 40px;
}

.showall:hover {
	text-decoration: underline;
}

.grid__li:hover {
	cursor: pointer;
	transform: translate(0, -6px);
	box-shadow: 1px 1px 10px #aaa;
	transition: box-shadow 0.2s, transform 0.4s ease;
}

.grid__li:hover .download-button {
	display: block;
}

.grid__li:hover .bot {
  color: #fff;
  background-color: #1a1a1a;
  transition: color 0.3s ease, text-shadow 5s ease;
  border-radius: 0 0 4px 4px;
}

.grid__li.active {
	transform: translate(0, -6px);
	box-shadow: none;
}

.grid__li.active .bot {
  color: #fff;
  background-color: #1a1a1a;
  transition: color 0.3s ease, text-shadow 5s ease;
}

.grid__li.active .bot h2 {
  color: #3B9DFF;
}

.download-button:hover {
	color: #3B9DFF;
}

.grid__li:hover img.cover {
	display: none;
}

.grid__li:hover div.bot h2 {
	color: #3B9DFF;
}

.cover {
	z-index: 3;
	border-radius: 4px 4px 0 0;
}

.top {
	height: 50%;
	background-color: #bbb;
	border-radius: 4px 4px 0 0;
	position: relative;
}

.new {
	background-color: red;
	border-radius: 3px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	font-size: 11px;
	height: 1.5em;
	display: flex;
	align-items: center;
	z-index: 5;
}

.bot {
	padding-top: 1px;
	padding-left: 15px;
	position: relative;
	border-radius: 0 0 4px 4px;
	height: 50%;
	z-index: 3;
	background-color: #fff;
}

img {
  object-fit: cover;
  height: 100%;
  z-index: 2;
  position: absolute;
  border-radius: 4px 4px 0 0;
}

img.program {
	height: auto;
	position: absolute;
}

img.program:hover {
	opacity: 0;
}

img.programLinks {
	height: auto;
	position: absolute;
}

.home-about {
	width: 310px;
	height: 310px;
	background-color: #bbb;
	margin-left: 40px;
}

#no-overflow {
	position: relative;
	transition: transform 0.2s cubic-bezier(0.68,-0.2, 0.4, 1.08);
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	padding-top: 25px;
}

.hidden-touchpoint {
	position: relative;
	display: flex;
	height: 500px;
	max-height: 0;
	transition: max-height .08s cubic-bezier(0.68,-0.2, 0.4, 1.08);
	background: #1a1a1a;
	box-shadow: 1px 1px 10px #bbb;
}

.display {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0;
	width: 100%;
}

.touchpoint {
	display: none;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row-reverse;
	width: 100%;
	height: 100%;
}

.touchpoint__content {
	width: 50%;
	position: relative;
	height: 100%;
	right: 0;
	display: flex;
}

.touchpoint__description {
	width: 50%;
	position: relative;
	display: absolute;
	right: 0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	align-items: flex-start;
	max-width: 100%;
	justify-content: flex-end;
}

.touchpoint__content:hover .gallaryRight {
	opacity: 255;
}

.touchpoint__content:hover .gallaryLeft {
	opacity: 255;
}

.gallaryRight:hover {
cursor: pointer;
background-color: #000;
}

.gallaryLeft:hover {
cursor: pointer;
background-color: #000;
}

.gallaryRight {
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	opacity: 0.50;
	z-index: 8;
	height: 50px;
	width: 80px;
	border-radius: 20px 0 0 0;
	bottom: 0;
	transition: opacity .5s ease;
}

.gallaryLeft {
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: screen;
	opacity: 0.50;
	z-index: 8;
	height: 50px;
	width: 80px;
	border-radius: 0 20px 0 0;
	bottom: 0;
	transition: opacity .5s ease;
}

.gallaryRight .image {
	font-size: 20px;
	color: #ccc;
}

.gallaryRight:hover .image {
	color: #eee;
}

.gallaryLeft .image {
	font-size: 20px;
	color: #ccc;
}

.gallaryLeft:hover .image {
	color: #eee;
}

.scroll {
	padding: 50px;
	width: 100%;
	clear: right;
}

.normal {
	text-transform: none;
	font-size: 23px;
}

.normal__header {
	color: #bbb;
}

.tags {
	display: inline-flex;
	flex-direction: row;
	padding-bottom: 25px;
	padding-top: 15px;
}

.tags span {
	margin-right: 14px;
	padding: 8px;
	text-transform: uppercase;
	font-size: 10px;
	border-radius: 12px;
	background-color: #3B9DFF;
	color: #fff;
	width: auto;
}

.more-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

ul.programs {
	display: flex;
	padding: 40px 25%;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	align-items: center;
		justify-content: center;
}

ul.programs li.pro-img {
	position: relative;
	width: 150px;
	height: 150px;
	padding: 25px;
}

.sub1 a{
	color: #69BE94;
	text-decoration: none;
}

li.bubble {
	padding: 10px 30px;
	background-color: #eee;
	box-shadow: 1px 1px 10px #bbb;
	font-weight: lighter;
	color: #1a1a1a;
	margin: 1em;
	border-radius: 40px;
}

input {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 15px;
	width: 500px;
}

input:focus {
	border: 1px solid #3B9DFF;
	outline: none;
	box-shadow: 1px 1px 10px #bbb;
}

input.message {
	height: 350px;
}

.video{
	position: relative;
	top: 43px;
	right: 50px;
	float: right;
}

.content-img {
	height: 100%;
	position: absolute;
	border-radius: 0;
	right: 0;
	display: none;
}

#gloria {
	display: block;
}

.darkLogo {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	justify-content: flex-start;
}

.darkimg {
	position: relative;
	width: 50px;
	height: 50px;
	transform: translate(0, -10px);
	padding-right: 20px;
}

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#Message:focus {
	outline: none;
	box-shadow: 0px 0px 10px #bbb;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
	background-color: #1a1a1a;
	color: #fff;
	font-size: 14px;
	border-radius: 20px;
	padding: 7px 20px 7px 20px;
}

input:hover{
  cursor: pointer;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-weight: lighter;
}

h4 {
  padding-bottom: 0;
  color: #fff;
}

.ul {
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  max-width: 530px;
  font-kerning: 5%;
  list-style-type: none;
}

.touchpoint__description::-webkit-scrollbar {
  width: 20px;
}

.touchpoint__description::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
.touchpoint__description::-webkit-scrollbar-thumb {
  background: #eee; 
  border-radius: 10px;
}

.touchpoint__description::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a; 
}

.flexy {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	align-self: center;
	right: 13%;
	bottom: 0;
	position: absolute;

	/*for now...*/
	display: none;
}

.flexy--image {
	position: relative;
	width: 140px;
	height: 83px;
	opacity: 0;
	border-radius: 5px;
	margin: 8px;
	transition: opacity 1s ease;
}

#current {
	border: 1px solid #3B9DFF;
}

.touchpoint__content:hover .flexy--image {
	opacity: 1;
}

.productName h3{
	text-align: left;
	letter-spacing: 1px;
	margin: 0;
	width: 190px;
	font-size: 18px;
	color: #333;
}